div.div1{
  background-color: red;
  color:white;
  position:fixed;
  height:40px;
  top:10px;
  left:10px;
}
div.div2{
  background-color: black;
  color:white;
    height:40px;
  position:absolute;
  top:60px;
  left:10px;
}
div.div3{
  background-color: black;
  color:white;
  position:absolute;
    height:40px;
  top:110px;
  left:10px;
}
div.div4{
  background-color: black;
  color:white;
  position:absolute;
    height:40px;
  top:170px;
  left:10px;
}
div.div5{
  background-color: black;
  color:white;
  position:absolute;
    height:40px;
  top:230px;
  left:10px;
}
div.div6{
  background-color: black;
  color:white;
  position:absolute;
    height:40px;
  top:300px;
  left:10px;
}
div.div7{
  background-color: wheat;
  color:white;
  float:left;
    height:40px;
  width:300px;
}
}
