body{
  color:green;
  font-family:verdana,Geneva,arial,arial black;
  font-weight:bold;
  font-size:20px;
  background-color: wheat;
}
h1{
  border-bottom:1px solid red;
  text-decoration:overline;
  font-size:150%;
  }
  h2{
    border-bottom:1px solid red;
    text-decoration:underline overline line-through;
    font-size:1.2em;
    }
  p.italic{
    font-style:italic;
    color:#FF5733;
    background-color:rgb(240,28,235);
  }
  p.oblique{
    font-style:oblique;
    background-color:#ffcf79;
  }
  p.green{
    color:green;
    font-size:25px;
  }
